body{
  font-family: Arial;
  margin:0;
  background:linear-gradient(to right,#4facfe,#00f2fe);
  color:white;
  text-align:center;
}

header{
  padding:60px;
}

section{
  padding:40px;
}

.projects{
  display:flex;
  justify-content:center;
  gap:20px;
  flex-wrap:wrap;
}

.card{
  background:white;
  color:black;
  padding:20px;
  border-radius:15px;
  width:200px;
  box-shadow:0 5px 15px rgba(0,0,0,0.2);
}

input,textarea{
  width:250px;
  padding:10px;
  margin:10px;
  border:none;
  border-radius:8px;
}

button{
  padding:10px 25px;
  border:none;
  background:black;
  color:white;
  border-radius:8px;
  cursor:pointer;
}